@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 2rem;
  background-color: rgba(0, 0, 0, 0.9);
  padding-left: 100%;
}

.ticker {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 120s;
  animation-duration: 120s;
}
.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  color: white;
}


#weather-container {
	display: flex;
	flex-flow: row wrap
}

#weather-container > div {
	border-style: solid;
}

#travel-container {
	display: flex;
	flex-flow: row wrap
}

.climacons {
	height: 10%;
	width: 50%
}

.icon_day {
	height: 10%;
	width: 10%;
}

#this-week {
	display: flex;
	flex-flow: row wrap;
}

.day {
	text-align: center;
}

.temp-high {
	display: flex;
}

.temp-low {
	display: flex;
}

body {
  padding-bottom: 5rem;
}


