@-webkit-keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes ticker {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    visibility: visible;
  }
  100% {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
}
.ticker-wrap {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  height: 2rem;
  background-color: rgba(52, 2, 127, 0.1);
  padding-left: 100%;
  font-size: medium;
}

.ticker {
  display: inline-block;
  height: 2rem;
  line-height: 2rem;
  white-space: nowrap;
  padding-right: 100%;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-name: ticker;
  animation-name: ticker;
  -webkit-animation-duration: 120s;
  animation-duration: 120s;
}
.ticker__item {
  display: inline-block;
  padding: 0 2rem;
  color: black;
}


#top-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	font-size: smaller;	
}



#silverdale {
	text-align: right;
	width: 80.138px;
	height: 162.625px;
}

#week-forecast {
	text-align: center;
	margin: 3% 0 3% 0;
	font-style: italic;
}

canvas {
	margin: 0.5%;
	color: white;
}

#tube {
	font-size: 1em;
	padding: 0 10px;
	text-align: center;
	width: 253.688px;
	color: white;
}

#tube > div {
	padding: 2px 0;
}

#northern {
	background-color: black;
}

#bakerloo {
	background-color: #A45A2A;
}

#victoria {
	background-color: #00A3E0;
}

#circle {
	background-color: #F5CB08;
	color: black;
}

#district {
	background-color: #007A33;
}

#hammersmith-city {
	background-color: #E89CAE;
	color: black;
}

#waterloo-city {
	background-color: #6ECEB2;
	color: black;
}

#central {
	background-color: #DA291C;
}

#piccadilly {
	background-color: #10069F;
}

#jubilee {
	background-color: #7C878E;
}

#metropolitan {
	background-color: #840B55
}

#travel-time {
	font-size: medium;
}

.climacons {
	height: 5%;
	width: 25%
}

.icon-day {
	height: 50px;
	width: 80px;
}

#this-week {
	display: flex;
	flex-flow: row wrap;
	flex: 1 1 auto;
	justify-content: space-between;
	font-size: smaller;
}

#this-week > div {
	width: 13%;
}

.day {
	text-align: right;
}

.temp-high {
	display: flex;
}

.temp-low {
	display: flex;
}




body {
  	padding-bottom: 5rem;
  	font-family: 'Roboto', sans-serif;
  	background-color: #f0ead6;
}



header {
	text-align: center;
	display: flex;
	flex-flow: row auto;
	flex: 1 1 auto;
	justify-content: center;
}

.hidden {
	visibility: hidden;
}

#current-time {
	font-family: 'Ubuntu', sans-serif;
	font-size: 3em;
	font-weight: bolder;
}

#current-date {
	font-family: 'Ubuntu', sans-serif;
	font-size: medium;
}

#welcome > h5 {
	font-size: smaller;
	font-weight: lighter;
	margin-top: 0;
}

#this-week > div {
	box-shadow: 0 5px 5px -5px grey;
}

#bottom-container {
	display: flex;
	flex-flow: row auto;
	justify-content: space-around;
	margin-top: 3%;
}


